<div class="card-container">

    <h3>New Recipe</h3>

    <form>

        <div class="row">
            <label class="input-title col-md-12">
                Recipe Title
                <input class="text-center" type="text" name="recipeTitle" [required]="true" [(ngModel)]="recipe.recipeTitle" />
            </label>
        </div>

        <div class="row">
            <label class="input-title col-md-12">
                Meal Type
                <select name="mealType" [(ngModel)]="recipe.mealType">
                    <option name="mealType" value="">Please select</option>
                    <option *ngFor="let item of mealTypes" name="mealType" value="{{item}}">{{item}}</option>
                </select>
            </label>
        </div>

        <div class="row">
            <label class="input-title col-md-12">
                People Served
                <input type="number" name="peopleServed" [(ngModel)]="recipe.peopleServed">
            </label>
        </div>

        <div class="row">
            <label class="input-title col-md-12">
                Difficulty Level
                <select name="difficultyLevel" [(ngModel)]="recipe.difficultyLevel">
                    <option type="text" value="" name="difficultyLevel" [(ngModel)]="recipe.difficultyLevel">Please select</option>
                    <option type="text" *ngFor="let item of levels" value="{{item}}" name="difficultyLevel" [(ngModel)]="recipe.difficultyLevel">{{item}}</option>
                </select>
            </label>
        </div>

        <div class="row">
            <label class="input-title col-md-12">
                Steps (Separate steps by new line)
                <textarea name="instructions" [(ngModel)]="recipe.instructions">
                </textarea>
            </label>
        </div>

        <div class="row">
            <label class="input-title col-md-6">
                Ingredient
                <input type="text" name="ingredient" [(ngModel)]="ingredientName"/>
            </label>

            <label class="input-title col-md-6">
                Measurement unit
                <select name="ingredientUnit" [(ngModel)]="ingredientUnit">
                    <option type="text" value="" name="ingredientUnit" [(ngModel)]="ingredientUnit">Select measurement</option>
                    <option type="text" *ngFor="let unit of measurementUnits" value="{{unit}}" name="ingredientUnit" [(ngModel)]="ingredientUnit">{{unit}}</option>
                </select>
            </label>

            <label class="input-title col-md-6">
                Amount
                <input type="number" name="ingredientAmount" [(ngModel)]="ingredientAmount"/>
            </label>


        </div>

        <button class="btn button btn-info" (click)="saveIngredient()">Save ingredient</button>

        <h4>Ingredients</h4>
        <div *ngFor="let item of ingredients">
            <p>{{ item.title }} - {{ item.amount }} {{ item.unit }}</p>
        </div>

        <p [ngClass]="{'error-message': error === true, 'success-message': error === false}" *ngIf="message != '' ">{{message}}</p>
        <button type="submit" (click)="saveRecipe()" class="button btn btn-success">Save Recipe</button>

    </form>

</div>