<div class="dashboard-container" *ngIf="!viewFullRecipe">

    <div *ngIf="showNewForm" class="card-center">
        <app-new-recipe-form></app-new-recipe-form>
    </div>

    <div *ngIf="showRecipeList" class="page-center">

        <h3>Recipe List</h3>

        <div class="col-md-12">
            <div class="list-container list-group">
                <div *ngFor="let item of recipeCollection" (click)="selectRecipe(item)" class="recipe-list-item list-group-item">
                    <h4>{{ item.title }}</h4>
                </div>    
            </div>
        </div>

        <button class="button btn btn-success" (click)="showAddRecipe()">Add Recipe</button>

    </div>

    <div *ngIf="showDetailedRecipe">

    </div>

</div>

<ng-template [ngIf] = "viewFullRecipe">

    <div class="recipe-view">
        <h4>View Full Recipe</h4>
        <div class="recipe-table">
            <table>
                <tr>
                    <td>Recipe Name</td>
                    <td>{{ selectedDetailedRecipe.title }}</td>
                </tr>
                <tr *ngIf="!selectedDetailedRecipe.mealType">
                    <td>Meal Type</td>
                    <td>{{ selectedDetailedRecipe.mealType }}</td>
                </tr>
                <tr>
                    <td>Difficulty Level</td>
                    <td>{{ selectedDetailedRecipe.difficultyLevel }}</td>
                </tr>
                <tr>
                    <td>People Served</td>
                    <td>{{ selectedDetailedRecipe.peopleServed }}</td>
                </tr>
            </table>
        </div>

        <h4>Ingredients</h4>
        <table class="recipe-table">
            <tbody>
                <tr *ngFor="let item of selectedDetailedRecipe.ingredients">
                    <td>{{ item.title }}</td>
                    <td>{{ item.amount }} ({{item.unit}})</td>
                </tr>
            </tbody>
        </table>

        <h4>Steps</h4>

        <table class="recipe-table">
            <tbody>
                <tr *ngFor="let item of selectedDetailedRecipe.steps">
                    <td>{{ item.stepNumber }}</td>
                    <td>{{ item.description }}</td>
                </tr>
            </tbody>
        </table>

    </div>

</ng-template>