/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.text-center {
    margin: auto;
}

input, textarea, select {
    width: 100%;
}

h3, h4 {
    text-align: center;
}

form {
    margin: auto;
}

.card-center {
    display: flex;
    justify-content: center;
}

.dashboard-container {
    display: flex;
    justify-content: center;
}

.button {
    margin-top: 10px;
}

.recipe-list-item:active {
    background-color: #3e8e41;
    transform: translateY(4px);
  }